main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 3em;
  width: 100%;
  max-width: 1200px;
}
.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.estado {
  width: 2em;
  height: 2em;
  background-color: #dc2424;
  border-radius: 50%;
  position: relative;
}
.estado:hover .leyenda {
  opacity: 1;
}

.encendido {
  background-color: #006f2b;
}

.mapa-tranvia {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.mapa-tranvia .tranvia {
  position: absolute;
  left: 0;
  z-index: 1000;
  transition: left 1.5s ease-in-out;
}

.homePrimera {
  animation: homePrimera 1.5s forwards 0s;
}

.primeraSegunda {
  animation: primeraSegunda 1.5s forwards 0s;
}
.segundaTercera {
  animation: segundaTercera 1.5s forwards 0s;
}

.terceraCuarta {
  animation: terceraCuarta 1.5s forwards 0s;
}
.cuartaQuinta {
  animation: cuartaQuinta 1.5s forwards 0s;
}

.quintaCuarta {
  animation: quintaCuarta 1.5s forwards 0s;
}
.cuartaTercera {
  animation: cuartaTercera 1.5s forwards 0s;
}

.terceraSegunda {
  animation: terceraSegunda 1.5s forwards 0s;
}
.segundaPrimera {
  animation: segundaPrimera 1.5s forwards 0s;
}
.tranvia img {
  width: 100px;
}

.mapa-tranvia .linea {
  background-color: #8a8a8a;
  position: absolute;
  height: 0.2em;
  width: 85%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.mapa-tranvia .home {
  width: 2em;
  background-color: #dc2424;
  height: 2em;
  border-radius: 50%;
  position: relative;
}

.mapa-tranvia .circulo {
  width: 2em;
  background-color: #cccccc;
  height: 2em;
  border-radius: 50%;
  position: relative;
}

.leyenda {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #006f2b;
  color: #fff;
  text-align: center;
  padding: 1em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Pico apuntado */
.leyenda::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: solid transparent;
  border-width: 8px;
  border-bottom-color: #006f2b;
}

.circulo:hover .leyenda,
.home:hover .leyenda {
  opacity: 1;
}

.botones{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  place-content: center;
}

.botones svg,
svg {
  width: 2em;
  height: 2em;
  filter: invert(100%);
}
.botones button {
  outline: none;
  border: none;
  background-color: #ba1515;
  color: #ffffff;
  width: 100%;
  padding: 2em;
  cursor: pointer;
}

.botones button:hover {
  background-color: #ed0e0e;
}

.botones .active {
  background-color: #006f2b;
}

.botones .active:hover {
  background-color: #58ab27;
}

.botones #retroceso .icon {
  transform: rotate(180deg);
}

.botones select {
  grid-column: 1 / 3;
  width: 100%;
  border: 1px solid #006f2b;
  padding: 1em;
  background-color: #006f2b;
  color: #ffffff;
  appearance: none;
}

select {
  cursor: pointer;
  padding: 1em 2em;
  background: #006f2b;
  color: #fff;
  border-radius: 1em;
}

select:hover {
  background: #58ab27;
}

.parada{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.parada button {
  background-color: #006f2b;
  color: #fff;
  padding: 1em 2em;
  border-radius: 1em;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.parada button:hover {
  background-color: #58ab27;
}

/* Animaciones ----------------------------------------------------------------   */

@keyframes homePrimera {
  0% {
    left: 0%;
  }
  100% {
    left: 16%;
  }
}

@keyframes primeraSegunda {
  0% {
    left: 16%;
  }
  100% {
    left: 32%;
  }
}
@keyframes segundaTercera {
  0% {
    left: 32%;
  }
  100% {
    left: 48%;
  }
}
@keyframes terceraCuarta {
  0% {
    left: 48%;
  }
  100% {
    left: 64%;
  }
}
@keyframes cuartaQuinta {
  0% {
    left: 64%;
  }
  100% {
    left: 80%;
  }
}

@keyframes segundaPrimera {
  0% {
    left: 32%;
  }
  100% {
    left: 16%;
  }
}
@keyframes terceraSegunda {
  0% {
    left: 48%;
  }
  100% {
    left: 32%;
  }
}
@keyframes cuartaTercera {
  0% {
    left: 64%;
  }
  100% {
    left: 48%;
  }
}
@keyframes quintaCuarta {
  0% {
    left: 80%;
  }
  100% {
    left: 64%;
  }
}
/* Responsive -----------------------------------------------------------------   */

@media screen and (min-width: 600px) {
  main {
    margin: 0 auto;
  }
  .botones {
    grid-template-columns: repeat(2, 1fr);
  }
  .botones button:first-child {
    border-top-left-radius: 1em;
  }
  .botones button:last-child {
    border-top-right-radius: 1em;
  }

  .mapa-tranvia .tranvia {
    left: 3%;
  }

  @keyframes homePrimera {
    0% {
      left: 3%;
    }
    100% {
      left: 20%;
    }
  }
  
  @keyframes primeraSegunda {
    0% {
      left: 20%;
    }
    100% {
      left: 37%;
    }
  }

  @keyframes segundaTercera {
    0% {
      left: 37%;
    }
    100% {
      left: 53%;
    }
  }

  @keyframes terceraCuarta {
    0% {
      left: 53%;
    }
    100% {
      left: 70%;
    }
  }

  @keyframes cuartaQuinta {
    0% {
      left: 70%;
    }
    100% {
      left: 87%;
    }
  }
  
  @keyframes segundaPrimera {
    0% {
      left: 37%;
    }
    100% {
      left: 20%;
    }
  }

  @keyframes terceraSegunda {
    0% {
      left: 53%;
    }
    100% {
      left: 37%;
    }
  }

  @keyframes cuartaTercera {
    0% {
      left: 70%;
    }
    100% {
      left: 53%;
    }
  }
  
  @keyframes quintaCuarta {
    0% {
      left: 87%;
    }
    100% {
      left: 70%;
    }
  }
}
