main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 3em;
  width: 100%;
  max-width: 1200px;
}

.mapa-tranvia {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.mapa-tranvia .tranvia {
  position: absolute;
  left: 0;
  z-index: 1000;
  /* animation-name: avanceTranvia;
  animation-duration: 7.5s;
  animation-iteration-count: infinite; */
}

.tranvia img {
  width: 100px;
}

.mapa-tranvia .linea {
  background-color: #8a8a8a;
  position: absolute;
  height: 0.2em;
  width: 85%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.mapa-tranvia .home {
  width: 2em;
  background-color: #dc2424;
  height: 2em;
  border-radius: 50%;
}

.mapa-tranvia .circulo {
  width: 2em;
  background-color: #cccccc;
  height: 2em;
  border-radius: 50%;
}

.botones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.botones svg {
  width: 2em;
  height: 2em;
  filter: invert(100%);
}
.botones button {
  outline: none;
  border: none;
  background-color: #006f2b;
  color: #ffffff;
  width: 100%;
  padding: 2em;
  cursor: pointer;
}

.botones button:hover {
  background-color: #58ab27;
}

.botones #retroceso .icon {
  transform: rotate(180deg);
}

/* Responsive -----------------------------------------------------------------   */

@media screen and (min-width: 600px) {
  main {
    margin: 0 auto;
  }
  .botones {
    grid-template-columns: repeat(4, 1fr);
  }
  .botones button:first-child {
    border-top-left-radius: 1em;
  }
  .botones button:last-child {
    border-top-right-radius: 1em;
  }
}

/* Animaciones ----------------------------------------------------------------   */

@keyframes avanceTranvia {
  0% {
    left: 0;
  }
  10% {
    left: 16%;
  }
  20% {
    left: 32%;
  }
  30% {
    left: 50%;
  }
  40% {
    left: 66%;
  }
  50% {
    left: 82%;
  }
  60% {
    left: 66%;
  }
  70% {
    left: 50%;
  }
  80% {
    left: 32%;
  }
  90% {
    left: 16%;
  }
  100% {
    left: 0%;
  }
}
